:root {
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 80%);
  --color-purple-500: hsl(263, 55%, 52%);

  --color-white: hsl(0, 0%, 100%);
  --color-grey-100: hsl(214, 17%, 92%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-400: hsl(224, 10%, 45%);
  --color-grey-500: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-black: hsl(0, 0%, 7%);

  --fw-medium: 500;
  --fw-semibold: 700;

  --fs-base: 14px;

  --font-barlow: "Barlow Semi Condensed", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 5rem 2rem 2rem 2rem;
  background-color: var(--color-grey-100);

  font-family: var(--font-barlow);
  font-size: var(--fs-base);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.2rem;
  flex: 1;
}

.testimonial-container {
  --border: none;
  --background-color: var(--color-white);
  --name-color: var(--color-grey-500);
  --status-color: var(--color-grey-500);
  --title-color: var(--color-grey-500);
  --quote-color: var(--color-grey-500);

  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  box-shadow: 30px 40px 20px rgba(0, 0, 0, 0.15);
}

.testimonial-container.purple {
  --border: var(--color-purple-300);
  --background-color: var(--color-purple-500);
  --name-color: var(--color-white);
  --status-color: var(--color-purple-50);
  --title-color: var(--color-white);
  --quote-color: var(--color-purple-50);
}

.testimonial-container.grey {
  --border: var(--color-grey-200);
  --background-color: var(--color-grey-500);
  --name-color: var(--color-white);
  --status-color: var(--color-grey-200);
  --title-color: var(--color-white);
  --quote-color: var(--color-grey-100);
}

.testimonial-container.dark-blue {
  --border: var(--color-purple-500);
  --background-color: var(--color-dark-blue);
  --name-color: var(--color-white);
  --status-color: var(--color-white);
  --title-color: var(--color-grey-200);
  --quote-color: var(--color-grey-200);
}

.quotation-pattern {
  display: none;
}

.testimonial-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 36px;
  height: 36px;

  outline: 3px solid var(--border);
  border-radius: 50%;
}

.name {
  font-size: 1rem;
  color: var(--name-color);
}

.status {
  color: var(--status-color);
}

.testimonial-title {
  font-size: 1.375rem;
  font-weight: var(--fw-semibold);
  color: var(--title-color);
}

.testimonial-quote {
  line-height: 1.4;
  color: var(--quote-color);
}

.footer-section {
  margin-top: 3rem;
  color: var(--color-grey-400);
  text-align: center;
}

@media (min-width: 48rem) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64rem) {
  main {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
  }

  .testimonial-container:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }

  .testimonial-container:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .testimonial-container:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .testimonial-container:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
  }

  .testimonial-container:nth-child(5) {
    grid-area: 1 / 4 / 3 / 5;
  }

  .quotation-pattern {
    display: block;
    position: absolute;
    top: 0;
    right: 4rem;
    z-index: -1;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
